.filtro-pokemon {
  margin: 10px 5px 10px 5px;
}

.filtro-pokemon input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.filtro-pokemon input:focus {
  outline: none;
  border-color: var(--input-focus-color);
}

.filtro-pokemon input:not(:placeholder-shown) {
  border-color: var(--input-filled-color);
}

.card-pokemon {
  background-color: white;
  text-align: center;
  border-radius: 3px;
  width: 17rem;
  padding: 10px;
}

.lista-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.pokemon-n-encontrado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% da altura da viewport, centralizando verticalmente */
  text-align: center;
}

/* Estilo para ajustar tamanho e família da fonte */
.pokemon-n-encontrado p {
  font-size: 18px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInAnimation {
  animation: fadeIn 0.5s ease-out;
}
